
#container{
  height:200px;
  width: 80%;
  background-color: azure;
  border: 2px solid black;
  margin: 10px auto;   
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  }

  h1{
    text-align: center;
  }

  #container div{ 
    height: 100px;
    width: PX;
    color: white;
    text-align: center;
    font-size: 1.5em;
     
  } 

