<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a New Post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input type="text" placeholder="Enter your Name" name="Name">
        <br>
        <br>
        <input type="text" name="username" placeholder="Enter your UserName">
        <br><br>
        <textarea name="content" placeholder="Type ypur post content...."></textarea>
        <br><br>
        <button>Post</button>

    </form>
</body>
</html>